#container
{
	margin: 0 30px;
	background: #fff;
}

#header
{
	padding: 20px;
}

#header h1 { 
    
    margin: 0;
    text-align: center;
    color : darkred;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 100;

}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
    background-image: url(../TP2/790980.jpg);
	opacity: 0.83;
    background-repeat: no-repeat;
    background-size: 100%;
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
    text-align: center;
    font-family: sans-serif;
}



#news
{	
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
    background-image: url(../TP2/790980.jpg);
	opacity: 0.83;
    font-family: sans-serif;
    color: black;

}

#news h2 {
    
    text-align: center;
}


#footer
{
	clear: both;
	text-align: right;
	padding: 20px;
	height: 1%;
    color: darkred;
    font-weight: 100;
    font-family: sans-serif;
}

#footer a {
    
    color: darkred;
    font-family: sans-serif;
}

h3 a {
    
    color: darkred;
    font-family: sans-serif;
    text-decoration: none;
}

h3 a:hover {
    
    color: indianred;
     text-decoration: none;
}